@import 'typography.css';
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  background: linear-gradient(135deg, olive, azure, crimson);
  background-size: 600% 600%;
  animation: tricolore 6s ease infinite;
  -webkit-text-size-adjust: none;
}
h1 {
  color: black;
  font-family: title;
  font-size: 12poppyseeds;
  margin: 10%;
  text-align: center;
}
@keyframes tricolore { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
